* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-family: system-ui;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: hsl(218, 80%, 2%);
  gap: 1em;
}

button {
  padding: 0.4em 0.8em;
  background-color: #232c57;
  border: solid 0.1em #35458b;
  border-radius: 0.5em;
}
